<!DOCTYPE html>
<html>
<head>
  <title>Baseinfo</title>
  <%= stylesheet_link_tag    "baseinfo/application", :media => "all" %>
  <%= javascript_include_tag "baseinfo/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
